{% include "admin/layout/headAdmin.twig" %}
<div class="container">
	{% include "admin/layout/navBar.twig" %}

	<div class="main">
		{% include "admin/layout/topBar.twig" %}
		<div class="details">
			<div class="recentOrders">
				<div class="cardHeader">
					<h2>Cuentas de clientes admin</h2>
					<a href="/../controllers/admin/customerAdminsCRUD" class="btn"> + Nuevo</a>
				</div>
				<table>
					<thead>
						<tr>
							<td>Nombre
								<i class="fa-solid fa-angle-down"></i>
							</td>
                            <td>Gym
								<i class="fa-solid fa-angle-down"></i>
							</td>
							<td>localidad
								<i class="fa-solid fa-angle-down"></i>
							</td>
							<td>Estado
								<i class="fa-solid fa-angle-down"></i>
							</td>
							<td>Editar
								<i class="fa-solid fa-angle-down"></i>
							</td>
						</tr>
					</thead>
					<tbody>
						{% for user in dataCustomerAll %}
							<tr>
								<td>{{user.firstName}} {{user.lastName}}</td>
								<td>{{user.gymName}}</td>
								<td>{{user.locationCustomer}}</td>
								{% if user.active == 1 %}
									<td>
										<span class="status delivered">Activo</span>
									</td>
								{% else %}
									<td>
										<span class="status return">Inactivo</span>
									</td>
								{% endif %}
								<td style="text-align: -webkit-right;">
									<div class="contentSelectOptions">
										<div class="navigation">
											<div class="menuToggle" onclick="showOptionsSelect(this)"></div>
												<div class="menu">
													<ul>
													<li style="--i:0.1s;">
														<a href="/../controllers/admin/customerAdminsCRUD?idCustomerAdmin={{user.id_customerAccount}}"><i class="fa-solid fa-user-pen"></i></a>
													</li>
													<li style="--i:0.2s;">
														<a href="/../controllers/admin/customerAdminsCRUD?idCustomerAdmin={{user.id_customerAccount}}&view=true"><i class="fa-solid fa-eye"></i></a>
													</li>
													<li style="--i:0.3s;">
														<a href="#"><i class="fa-solid fa-trash-can"></i></a>
													</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	function showOptionsSelect(element){
		let menuToggle = element;
		if(menuToggle){
			let allremove = document.querySelectorAll('.menuToggle');
			allremove.forEach(element => {
				if(element != menuToggle){
					element.classList.remove('active');
				}
			});

			menuToggle.classList.toggle('active');
		}
	}
</script>
{# <script src="https://kit.fontawesome.com/572f592c32.js" crossorigin="anonymous"></script>
{% include "admin/layout/scriptsAdmin.twig" %} #}
