{% include "admin/layout/headAdmin.twig" %}

<div class="container">
	{% include "admin/layout/navBar.twig" %}
	<div class="main">
		{% include "admin/layout/topBar.twig" %}
		<div class="cardBox">
			<div class="card">
				<div>
					<div class="numbers">{{ totalLastEntryDate.total|number_format}}</div>
					<div class="cardName">Ingresaron hoy al GYM</div>
				</div>
				<div class="iconBox">
					<i class="fa-solid fa-eye"></i>
				</div>
			</div>
			<div class="card">
				<div>
					<div class="numbers">{{totalMyUser.total|number_format}}</div>
					<div class="cardName">Total usuarios</div>
				</div>
				<div class="iconBox">
					<i class="fa-solid fa-cart-shopping"></i>
				</div>
			</div>
			<div class="card">
				<div>
					<div class="numbers">{{totalUsersFinised.total|number_format}}</div>
					<div class="cardName">Usuarios con plan vencido</div>
				</div>
				<div class="iconBox">
					<i class="fa-solid fa-comment"></i>
				</div>
			</div>
			<div class="card">
				<div>
					<div class="numbers">${{totalPayment.total|number_format}}</div>
					<div class="cardName">Ingresos por total de usuarios activos</div>
				</div>
				<div class="iconBox">
					<i class="fa-solid fa-dollar-sign"></i>
				</div>
			</div>
		</div>

		<div class="details">
			<div class="recentOrders">
				<div class="cardHeader">
					<h2>Estado de usuarios</h2>
					<a href="/../../controllers/admin/usersAdmin.php" class="btn">Ver todos</a>
				</div>
				<table>
					<thead>
						<tr>
							<td>Nombre</td>
							<td>Precio Mensualidad</td>
							<td>Metodo de pago</td>
							<td>Estado</td>
						</tr>
					</thead>
					<tbody>
					{% for user in dataUsersAll %}
						<tr>
							<td>{{user.first_name}} {{user.last_name}}</td>
							<td>${{user.payment|number_format}}</td>
							<td>{{user.payment_method}}</td>
							<td>
								<span class="status delivered">Renovada</span>
							</td>
						</tr>
					{% endfor %}
						{# <tr>
							<td>Star Refrigerator</td>
							<td>$1200</td>
							<td>Paid</td>
							<td>
								<span class="status delivered">Renovada</span>
							</td>
						</tr>
						<tr>
							<td>Window Coolers</td>
							<td>$110</td>
							<td>Due</td>
							<td>
								<span class="status pending">Próxima a caducar</span>
							</td>
						</tr>
						<tr>
							<td>Speakers</td>
							<td>$620</td>
							<td>Paid</td>
							<td>
								<span class="status return">Expirada</span>
							</td>
						</tr>
						<tr>
							<td>Hp Laptop</td>
							<td>$6000</td>
							<td>Due</td>
							<td>
								<span class="status inprogress">En progreso</span>
							</td>
						</tr>
						<tr>
							<td>Star Refrigerator</td>
							<td>$1200</td>
							<td>Paid</td>
							<td>
								<span class="status delivered">Renovada</span>
							</td>
						</tr>
						<tr>
							<td>Window Coolers</td>
							<td>$110</td>
							<td>Due</td>
							<td>
								<span class="status pending">Próxima a caducar</span>
							</td>
						</tr>
						<tr>
							<td>Speakers</td>
							<td>$620</td>
							<td>Paid</td>
							<td>
								<span class="status return">Expirada</span>
							</td>
						</tr>
						<tr>
							<td>Hp Laptop</td>
							<td>$6000</td>
							<td>Due</td>
							<td>
								<span class="status inprogress">En progreso</span>
							</td>
						</tr>
						<tr>
							<td>Apple Watch</td>
							<td>$680</td>
							<td>Paid</td>
							<td>
								<span class="status delivered">Renovada</span>
							</td>
						</tr> #}
					</tbody>
				</table>
			</div>

			<div class="recentCustomers">
				<div class="cardHeader">
					{# <marquee></marquee> #}
					<h2>Usuarios recientes</h2>
				</div>
				<table>
					<tbody>
						{% for user in dataUsersAllRecent %}
							<tr>
								<td style="width: 60px">
									<div class="imgBx"><img src="../../views/img/triangulo.png" alt=""></div>
								</td>
								<td>
									<h3>{{user.first_name}} {{user.last_name}}<br><span>{{user.email}}</span>
									</h3>
								</td>
							</tr>
						{% endfor %}
						{# <tr>
							<td style="width: 60px">
								<div class="imgBx"><img src="../../views/img/triangulo.png" alt=""></div>
							</td>
							<td>
								<h3>Jonny<br><span>Colombia</span>
								</h3>
							</td>
						</tr>
						<tr>
							<td style="width: 60px">
								<div class="imgBx"><img src="../../views/img/triangulo.png" alt=""></div>
							</td>
							<td>
								<h3>Alejandro<br><span>Colombia</span>
								</h3>
							</td>
						</tr>
						<tr>
							<td style="width: 60px">
								<div class="imgBx"><img src="../../views/img/triangulo.png" alt=""></div>
							</td>
							<td>
								<h3>Cano<br><span>Colombia</span>
								</h3>
							</td>
						</tr>
						<tr>
							<td style="width: 60px">
								<div class="imgBx"><img src="../../views/img/triangulo.png" alt=""></div>
							</td>
							<td>
								<h3>Acosta<br><span>Colombia</span>
								</h3>
							</td>
						</tr>
						<tr>
							<td style="width: 60px">
								<div class="imgBx"><img src="../../views/img/triangulo.png" alt=""></div>
							</td>
							<td>
								<h3>Jonny<br><span>Colombia</span>
								</h3>
							</td>
						</tr>
						<tr>
							<td style="width: 60px">
								<div class="imgBx"><img src="../../views/img/triangulo.png" alt=""></div>
							</td>
							<td>
								<h3>Alejandro<br><span>Colombia</span>
								</h3>
							</td>
						</tr>
						<tr>
							<td style="width: 60px">
								<div class="imgBx"><img src="../../views/img/triangulo.png" alt=""></div>
							</td>
							<td>
								<h3>Cano<br><span>Colombia</span>
								</h3>
							</td>
						</tr>
						<tr>
							<td style="width: 60px">
								<div class="imgBx"><img src="../../views/img/triangulo.png" alt=""></div>
							</td>
							<td>
								<h3>Acosta<br><span>Colombia</span>
								</h3>
							</td>
						</tr> #}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{# <script src="https://kit.fontawesome.com/572f592c32.js" crossorigin="anonymous"></script>
{% include "admin/layout/scriptsAdmin.twig" %} #}
