{% include "front/hook/head.twig" %}
<script src="./../views/js/chart.js"></script>
<div class="container">
    <div class="card">
        <h4 class="textHeader colorText">
            Gráficas     
        </h4>
        <div id="tarjetDataHeader">
            <div class="tarjetData colorContainers colorText">
                IMC:
                <br/>
                <span style="colorText">
                    {{ IMC }}
                </span>
            </div>
            <div class="tarjetData colorContainers colorText">
                Tu estado es:
                <br/>
                <span style="colorText">
                    {{ IMCtext }}
                </span>
            </div>
        </div>
        <canvas id="LineData"></canvas>
        <canvas id="BarData"></canvas>
    </div>
</div>
<div id="messagehelp" class="hide colorText colorContainers">
	Recuerda registrar tu peso una vez al mes para poder observar tus avances!
</div>
{% include "front/hook/footer.twig" %}

<script>
const data = {
	labels: [{% autoescape %}{{ dateFormat|raw }}{% endautoescape %}],
	datasets: [{
		label: 'Peso',
		backgroundColor: 'rgba(255, 99, 132,0.5)',
		borderColor: 'rgba(255, 99, 132,0.5)',
		data: [{{ weightFormat }}],
		fill: true,
	}]
};

const config = {
	type: 'line',
	data: data,
	options: {}
};

const LineData = new Chart(
	document.getElementById('LineData'),
	config
);

//Bar
const data2 = {
	labels: [{% autoescape %}{{ dateFormat|raw }}{% endautoescape %}],
	datasets: [{
		label: 'Peso',
		backgroundColor: 'rgba(255, 99, 132,0.5)',
		borderColor: 'rgba(255, 99, 132,0.5)',
		data: [{{ weightFormat }}],
		fill: true,
	}]
};

const config2 = {
	type: 'bar',
	data: data2,
	options: {}
};

const BarData = new Chart(
	document.getElementById('BarData'),
	config2
);

</script>