{% include "front/hook/head.twig" %}
<script src="./../views/js/chart.js"></script>
<div class="container">
    <div class="card">
        <h4 class="textHeader colorText">
            Gráficas     
        </h4>
        <div id="tarjetDataHeader">
            <div class="tarjetData colorContainers colorText">
                IMC:
                <br/>
                <span style="colorText">
                    {{ IMC }}
					30.5
                </span>
            </div>
            <div class="tarjetData colorContainers colorText">
                Tu estado es:
                <br/>
                <span style="colorText">
                    {{ IMCtext }}
					Sobrepeso
                </span>
            </div>
        </div>
        <canvas id="LineData"></canvas>
        <canvas id="BarData"></canvas>
    </div>
</div>
<div id="messagehelp" class="hide colorText colorContainers">
	Recuerda registrar tu peso una vez al mes para poder observar tus avances!
</div>
{% include "front/hook/footer.twig" %}

<script>
const data = {
	//labels: [{% autoescape %}{{ dateFormat|raw }}{% endautoescape %}],
	labels: ["15/01/2022","31/01/2022","15/02/2022","28/02/2022","15/03/2022","31/03/2022","15/04/2022","30/04/2022","15/05/2022","31/05/2022","15/06/2022","30/06/2022"],
	datasets: [{
		label: 'Peso',
		backgroundColor: 'rgba(255, 99, 132,0.5)',
		borderColor: 'rgba(255, 99, 132,0.5)',
		//data: [{{ weightFormat }}],
		data: [80,70,65,64,70,83,80,89,65,64,70,83],
		fill: true,
	}]
};

const config = {
	type: 'line',
	data: data,
	options: {}
};

const LineData = new Chart(
	document.getElementById('LineData'),
	config
);

//Bar
const data2 = {
	//labels: [{% autoescape %}{{ dateFormat|raw }}{% endautoescape %}],
	labels: ["31/01/2022","28/02/2022","31/03/2022","30/04/2022","31/05/2022","30/06/2022"],
	datasets: [{
		label: 'Peso',
		backgroundColor: 'rgba(255, 99, 132,0.5)',
		borderColor: 'rgba(255, 99, 132,0.5)',
		//data: [{{ weightFormat }}],
		data: [70,64,83,89,64,83],
		fill: true,
	}]
};

const config2 = {
	type: 'bar',
	data: data2,
	options: {}
};

const BarData = new Chart(
	document.getElementById('BarData'),
	config2
);

</script>