{% include "hook/head.twig" %}

<div id="container">
	<div><img src="././../views/img/cilueta.png" alt="Banner de cilueta"/></div>
	<form action="./../../controllers/profile.php" method="post">
		<ul>
			<li>
				<label>
					<p>Nombres</p>
					<input type="text" name="first_name" id="first_name" value="{{dataUser.first_name}}">
				</label>
			</li>
			<li>
				<label>
					<p>Apellidos</p>
					<input type="text" name="last_name" id="last_name" value="{{dataUser.last_name}}">
				</label>
			</li>
			<li>
				<label>
					<p>Correo</p>
					<input type="text" name="email" id="email" value="{{dataUser.email}}">
				</label>
			</li>
			<li>
				<label>
					<p>Sexo</p>
					<input type="text" name="gender" id="gender" value="{{gender}}">
				</label>
			</li>
			<li>
				<label>
					<p>Edad</p>
					<input type="number" name="edad" id="edad" value="20">
				</label>
			</li>
			<li>
				<label>
					<p>Numero de telefono</p>
					<input type="number" name="phone_number" id="phone_number" value="{{phone_number}}">
				</label>
			</li>
			<li>
				<label>
					<p>Espacio de ejercicio</p>
					<input type="text" name="exercise_space" id="exercise_space" value="{{exercise_space}}">
				</label>
			</li>
			<li>
				<label>
					<p>Peso actual</p>
					<input type="text" name="actual_weight" id="actual_weight" value="{{actual_weight}}">
				</label>
			</li>
		</ul>
		<input type="hide" name="last_update" id="last_update" value="{{date_now}}">
		<br/>

		<input id="button-submit" type="submit" name="" value="Guardar">
	</form>
</div>

<div id="messagehelp" class="hide">
	Hola Soy un mensaje de ayuda de la vista profile
</div>
{% include "hook/footer.twig" %}
