{% include "front/hook/head.twig" %}
<h4 class="textHeader colorText">
	PERFIL
</h4>

<div id="container">
	<div class="card">
		<div id="tarjetHead" class="colorContainers">
			<img src="././../views/img/cilueta.png" alt="Banner de silueta"/>
		</div>
		<div id="section">
			<div class="DataUser colorText">
				Nombres:
				<span class="colorTextHighlight">
					{{ dataUser.first_name }}
				</span>
			</div>
			<div class="DataUser colorText">
				Apellidos:
				<span class="colorTextHighlight">
					{{ dataUser.last_name }}
				</span>
			</div>
			<div class="DataUser colorText">
				Estatura:
				<span class="colorTextHighlight">
					{{ dataUser.height_user }}
				</span>
			</div>
			<div class="DataUser colorText">
				Edad:
				<span class="colorTextHighlight">
					{{ old }}
				</span>
			</div>
			<div class="DataUser colorText">
				Peso actual:
				<span class="colorTextHighlight">
					{{ dataUser.actual_weight }}
				</span>
			</div>
			<div class="DataUser colorText">
				Sexo:
				<span class="colorTextHighlight">
					{{ dataUser.gender }}
				</span>
			</div>
			<div class="DataUser colorText">
				Lugar:
				<span class="colorTextHighlight">
					{{ dataUser.exercise_space }}
				</span>
			</div>
			<div class="DataUser colorText">
				Celular:
				<span class="colorTextHighlight">
					{{ dataUser.phone_number }}
				</span>
			</div>
			<div class="DataUser colorText">
				Correo:
				<span class="colorTextHighlight">
					{{ dataUser.email }}
				</span>
			</div>
		</div>
		<br/>
		<a href="./../../controllers/profileUpdate.php">
			<button type="submit" id="submitProfile" class="colorTextHighlight">
				Ir a actualizar
			</button>
		</a>
	</div>
</div>

<div id="messagehelp" class="hide colorText colorContainers">
	observa tu información, si deseas cambiarla, haz click en "Actualizar".
</div>
{% include "front/hook/footer.twig" %}
