{% include "hook/head.twig" %}
<h4 class="textHeader">
    PERFIL
    
</h4>

<div id="container">
    <div class="card">
        <div id="tarjetHead">
            <img src="././../views/img/cilueta.png" alt="Banner de silueta" />
        </div>
        <div id="section">
            <div class="DataUser">
                Nombres:
                <span>
                    {{ dataUser.first_name }}
                </span>
            </div>
            <div class="DataUser">
                Apellidos:
                <span>
                    {{ dataUser.last_name }}
                </span>
            </div>
            <div class="DataUser">
                Estatura:
                <span>
                    {{ dataUser.height_user }}
                </span>
            </div>
            <div class="DataUser">
                Edad:		
                <span>
                    {{ old }}
                </span>
            </div>
            <div class="DataUser">
                Peso actual:             
                <span>
                    {{ dataUser.actual_weight }}
                </span>
            </div>
            <div class="DataUser">
                Sexo:                 
                <span>
                    {{ dataUser.gender }}
                </span>
            </div>
            <div class="DataUser">
                Lugar:                  
                <span>
                    {{ dataUser.exercise_space }}
                </span>
            </div>
            <div class="DataUser">
                Celular:                    
                <span>
                    {{ dataUser.phone_number }}
                </span>
            </div>
            <div class="DataUser">
                Correo:           
                <span>
                    {{ dataUser.email }}
                </span>
            </div>
        </div>
        <br/>
        <a href="./../../controllers/profileUpdate">
            <button type="submit" class="btn btn-primary">
                Ir a actualizar
            </button>
        </a>
    </div>
</div>

<div id="messagehelp" class="hide">
    Hola Soy un mensaje de ayuda de la vista profile.
    
</div>
{% include "hook/footer.twig" %}
